#map {
  height: 40%;
  margin-left: 55%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*noinspection CssUnusedSymbol*/
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

/*noinspection CssUnusedSymbol*/
#infowindow-content .title {
  font-weight: bold;
}

/*noinspection CssUnusedSymbol*/
#infowindow-content {
  display: none;
}

/*noinspection CssUnusedSymbol*/
#map #infowindow-content {
  display: inline;
}

/*noinspection CssUnusedSymbol*/
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

/*noinspection CssUnusedSymbol*/
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

/*noinspection CssUnusedSymbol*/
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

/*noinspection CssUnusedSymbol*/
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

/*noinspection CssUnusedSymbol*/
#target {
  width: 345px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
}

body {
  background-color: darkseagreen;
}

header {
  margin-left: 40%;
  margin-right: 40%;
  align-content: center;
}

table {
  margin: 5%;
  border: 3px double darkolivegreen;
  background-color: burlywood;
}

tr {
  border-bottom: 2px double darkslategrey;
  margin-top: 5px;
  margin-bottom: 5px;
}

td:hover {
  border: 3px double steelblue;
  background-color: lightgreen;
}

#results Table {
  background-color: cadetblue;
  margin: 20px;
  border: groove 2px blanchedalmond;
}

#return {
  color: black;
}

h1, #return {
  margin-left: 5%;
}

/*noinspection CssUnusedSymbol*/
.jumbotron {
  margin-top: 5%;
  background-color: cadetblue;
}
