/*core styles*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
}

header {
  margin-left: 40%;
  margin-right: 40%;
  align-content: center;
}

tr {
  border-bottom: double medium;
}

body {
  background-color: darkseagreen;
  margin-right: auto;
}

h1 {
  margin-left: 5%;
  margin-right: 5%;
  background-color: lightgreen;
}

/*noinspection CssUnusedSymbol*/
#cont-body {
  background-color: khaki;
  margin: auto;
}

/*noinspection CssUnusedSymbol*/
.container {
  border: double 3px darkslategrey;
  background-color: khaki;
  align-items: flex-start;
  margin: auto;
}

input:hover {
  background-color: darkseagreen;
}